/* assets/css/index.css */
body {
  font-family:
    "Lato",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  background-color: white;
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    "Lato",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 700;
}
header.masthead {
  position: relative;
  background-color: #343a40;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}
header.masthead h1 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  padding-top: 15px;
}
ul.navbar-nav.mr-auto li.nav-item.active {
  padding-left: 5px;
  padding-right: 5px;
}
.modal .card-body {
  min-width: 100%;
}
.modal .list-group-item.list-group-item-action {
  font-size: 12px;
  padding: 6px;
  background-color: DarkSlateGray;
  color: white;
}
.modal .list-group-item.list-group-item-action:nth-of-type(odd) {
  color: black;
  background-color: white;
}
.modal-body .container-fluid {
  flex-direction: column;
  width: "100%";
  padding: 0;
}
.modal-body .card-title {
  margin: 0;
  padding: 0;
}
.selected-cards {
}
#available-groups,
#selected-groups,
#available-topics {
  height: 180px;
  overflow-y: scroll;
  width: 100%;
}
#selected-topics {
  height: 90px;
  overflow-y: scroll;
  width: 100%;
}
#consumer-cards {
  min-height: 300px;
}
