/*!
 * Custom styles
 */

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

footer.footer {
  width: 100%;
  height:80px;
  padding-top: 15px;
}

.modal .card-body,
.consumer-cards .card-body {
  min-width: 100%;
}

.modal .list-group-item.list-group-item-action,
.consumer-cards .list-group-item.list-group-item-action {
  font-size: 12px;
  padding: 6px;
  background-color: DarkSlateGray;
  color: white;
}

.modal .list-group-item.list-group-item-action:nth-of-type(odd),
.consumer-cards .list-group-item.list-group-item-action:nth-of-type(odd) {
  color: black;
  background-color: white;
}

.modal-body .container-fluid {
  flex-direction: column;
  width: "100%";
  padding: 0;
}

.modal-body .card-title,
.consumer-cards .card-title {
  margin: 0;
  padding: 0;
}

.selected-cards {
}

#available-groups,#selected-groups,#available-topics {
  height: 180px; overflow-y: scroll;
  width: 100%;
}

#selected-topics {
  height: 90px; overflow-y: scroll;
  width: 100%;
}

#consumer-cards {
  margin-top: 75px;
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#consumer-cards .card {
  min-width: 400px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-bpx;
}

#consumer-cards .card-body .list-group {
  height: 150px; overflow-y: scroll;
  min-width: 50%;
}
