/*!
 * Custom styles
 */

/*
 * Global
 **/

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
  padding-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

button > span > i,
button > span > svg,
.modal-title > span > i,
.modal-title > span > svg {
  margin-right: 4px;
}

.dark-mode {
  background-color: black;
  color: white;
}

div[class^="icon-"],
span[class^="icon-"] {
}

select,input,textarea {
  background-color: black !important;
  border: 1px solid #ced4da !important;
  color: white !important;
}

textarea {
  white-space: pre;
  font-size: 11px;
}

.input-group-text {
  background-color: #222426 !important;
  color: white !important;
  border: 1px solid #ced4da;
}



/*
 * Navbar
 **/

li.nav-item {
  margin-left: 3px;
  margin-right: 3px;
}

.bag-container {
  min-width: 150px;
}

#search-input {
  width: 150px;
}

/*
 * Consumer cards
 **/

#consumer-cards {
  margin-top: 75px;
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid #ced4da;
}

#consumer-cards .card {
  flex-basis: 400px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

#consumer-cards .card-header {
  padding-top: 0;
  padding-bottom: 0;
}

#consumer-cards .card-header {
  background: linear-gradient(to right, #303030, #555555);
}

#consumer-cards .card-header .btn-group,
#consumer-cards .card-header .btn-group a {
  margin: 0;
  padding: 0;
}

#consumer-cards .card-header .card-controls {
  display: flex;
  margin: 0;
}

#consumer-cards .card-body {
  padding: 0;
  min-width: 50%;
}

#consumer-cards .card-body .list-group {
  height: 250px; overflow-y: scroll;
  min-width: 50%;
}

#consumer-cards .card-body .list-group-item {
  font-size: 12px;
  padding: 6px;
  background-color: DarkSlateGray !important;
  color: white;
}
#consumer-cards .card-body .list-group-item:nth-of-type(4n-3),
#consumer-cards .card-body .list-group-item:nth-of-type(4n-2) {
  background-color: #000000 !important;
  color: white;
}

#consumer-cards .card-body .list-group-item p {
  font-size: 10px;
  padding: 1px;
  margin: 0;
  line-height: 12px;
}

.list-group-item-details {
    padding: 3px;
}

.list-group-item-details .card {
  background: inherit;
}

.list-group-item-details table {
  width: 100%;
  table-layout: fixed;
}

.list-group-item-details td {
  vertical-align: top;
}

.scrollable-td {
  width: 90%;
}

.scrollable-pre {
  overflow-y: auto;
}

.list-group-item-details pre {
  color: white;
}

.list-group-item-details .form-control.d-flex,
.list-group-item-details .form-control.d-flex small,
.list-group-item-details .form-control.d-flex a.btn {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.toggle-content {
	display: none;
}

.toggle-content.is-visible {
	display: block;
}

/*
 * Footer
 **/

footer.footer {
  width: 100%;
  height:80px;
  padding-top: 15px;
}

/*
 * Consume Modal
 **/

.selected-cards {
}

#available-groups,#selected-groups,#available-topics {
  height: 180px; overflow-y: scroll;
  width: 100%;
}

#selected-topics {
  height: 90px; overflow-y: scroll;
  width: 100%;
}

/*
 * Produce Modal
 **/

/*
 * Bag Modal
 **/

.bag-top-buttons {
  margin-left: 200px;
}

#bag-list p {
  font-size: 10px;
  padding: 1px;
  margin: 0;
  line-height: 12px;
}

/*
 * All Modals
 **/

.modal-body .container-fluid {
  flex-direction: column;
  width: "100%";
  padding: 0;
}

.modal-body .card-title,
.consumer-cards .card-title {
  margin: 0;
  padding: 0;
}

.modal .list-group-item.list-group-item-action {
  font-size: 12px;
  padding: 6px;
  background-color: DarkSlateGray;
  color: white;
}

.modal .list-group-item.list-group-item-action:nth-of-type(odd) {
  background-color: #000000;
  color: white;
}

/*
 * Modals + Consumer cards
 **/

.modal .card-header {
  padding-top: 0;
  padding-bottom: 0;
}

.modal .card-body,
#consumer-cards .card-body {
  min-width: 100%;
  padding: 0;
}
